<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Perfil político - Sobre o projeto</title>
  {{> includes/head url="https://perfilpolitico.serenata.ai/sobre.html" title="Perfil Político - Sobre o projeto" }} 
</head>

<body>

  <div class="box sobre" id="box1">
    <div class="column">
      {{> includes/top-bar }} 
    </div>
  </div>

  <div class="box" id="about">
    <div class="column small">

      <h3>SOBRE</h3>
      <p><b>Perfil Político</b> é uma plataforma para comparar e conhecer o histórico dos milhares de candidatos às
        eleições. A ferramenta ajuda as pessoas a selecionar perfis de candidatos: você pode filtrar por novatos e por
        velhos políticos. Pode ver como o seu estado está em termos de representatividade de gênero e raça – e se as
        candidaturas, de fato, representam você.</p>
      <p>A ficha dos candidatos reúne informações básicas como idade, sexo, escolaridade e ocupação, mas também dados
        sobre patrimônio declarado em todas as eleições disputadas, mudanças de partidos, histórico de candidaturas e
        de eleições ganhas.</p>
      <p>São milhares de candidatos, dados e vários filtros para dar mais camadas de informações ao eleitor que ainda
        está por decidir quem merece o seu voto. Perfil Político é ciência de dados e tecnologia para as eleições. Só
        que do lado do eleitor.</p>

      <p></p>
      <p></p>
      <p></p>

      <h3>USO DOS DADOS</h3>
      <p>O <b>Perfil Político</b> trabalha com dados públicos e oficiais de diversas fontes, como o TSE e a Câmara dos
        Deputados. Porém, pelo volume de informação e falta de padrão na forma como os dados das diferentes fontes são
        estruturados, você pode se deparar com alguma inconsistência.</p>
      <p>Se você encontrar algo estranho, envie um e-mail para <a href="mailto:contato@serenata.ai">contato@serenata.ai</a>.
        Precisamos de seu feeback para continuar aprimorando a ferramenta e para relatar aos órgãos públicos quando os
        seus bancos de dados trouxerem informações erradas ou desatualizadas.</p>

      <p></p>
      <p></p>
      <p></p>

      <h3>OPEN KNOWLEDGE</h3>
      <p>A <a href="https://br.okfn.org">Open Knowledge Brasil</a> é uma organização social que desenvolve ferramentas
        cívicas, oferece treinamento em produção e uso de dados abertos e promove o conhecimento livre para tornar a
        relação entre governo e sociedade mais transparente e incentivar uma participação política mais efetiva.</p>
      <p>Durante a última década, a Open Knowledge tem desempenhado um papel-chave no fortalecimento do ecossistema de
        dados abertos e transparência governamental. Seu portfólio inclui: <a href="https://ckan.org/">CKAN</a>, o
        software livre para catálogo de dados abertos mais bem sucedido mundialmente; <a href="https://escoladedados.org/">Escola
          de Dados</a>, uma rede global comprometida com o avanço do uso de dados para resolver problemas reais em prol
        de sociedades mais conscientes, sustentáveis e justas; <a href="https://index.okfn.org/">Índice Global de Dados
          Abertos</a>, metodologia de avaliação que fornece uma visão abrangente do estado da publicação de dados
        governamentais abertos no mundo; <a href="https://serenata.ai">Serenata de Amor</a>, um dos mais bem-sucedidos
        projetos brasileiros de uso de dados governamentais para controle social dos gastos públicos.</p>

      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>

    </div>
  </div>

  {{> includes/footer }} 
  </div>
  {{> includes/google-analytics }}
</body>

</html>