<div id="footer">
    <div class="column">
        <div class="flex-container">
            <div class="flex-item">
                <a title="Sobre o projeto" href="sobre.html" target="self">&raquo; Sobre o projeto</a>
                <a title="Perguntas frequentes" href="faq.html" target="self">&raquo; Perguntas frequentes</a>
                <a title="Apoie o projeto" href="https://apoia.se/serenata" target="self">&raquo; Apoie o projeto</a>
            </div>
            <div class="flex-item">
                <span>Realização:</span>
                <a class="brand" title="Open Knowledge Brasil" href="https://br.okfn.org/" target="blank">
                    <img src="images/logo-okbr-preta.png" />
                </a>
            </div>
            <div class="flex-item">
                <span>Parceiros:</span>
                <a class="brand" title="Intercept Brasil" href="https://theintercept.com/brasil/" target="blank">
                    <img src="images/tibbr-logopreta.png" />
                </a>
                <a class="brand middle" title="Brasil.io" href="https://brasil.io/" target="blank">
                    <img src="images/logo_br-io_preta.png" />
                </a>
            </div>
        </div>
    </div>
</div>