<div id="top-bar">
    <a href="index.html" class="top-icon">
        <img src="images/profiles.svg">
    </a>
    <div class="top-text"><span>perfil</span> político</div>
    <a href="index.html" class="top-menu">
        <img src="images/profiles2.svg">
    </a>
</div>