$font-default: 'Museo', sans-serif;
$font-detail: "Helvetica", Arial, sans-serif;
$primary-color: #000;
$secondary-color: #5a44a0;
$alt-color: #92cc48;
$input-color: #888;
$bg-light: #eeedf4;
$line-light: #dedede;
$white: #fff;
$chart-color: #d3d2d6;

/* sizes */
$inter-column: 24px;
$inter-column-medium: 24px;
$inter-column-small: 20px;